.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.main{
	background-color: c4c4c4;
}
.button {
    display: inline-block;
    background-color: #757575;
    color: #c4c4c4 !important;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #5a5a5a;
    color: white !important;
}