.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 4%;
  /* Remove width and margin from here */
}


img {
  border-radius: 5px 5px 0 0;
}	

.container {
  padding: 2px 16px;
}