.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 4%;
  /* Remove width and margin from here */
}


img {
  border-radius: 5px 5px 0 0;
}	

.container {
  padding: 2px 16px;
}

.head-top {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./imgs/2.jpg');
}
.main{
	background-color: #c4c4c4;
}
.button {
    display: inline-block;
    background-color: #757575;
    color: #c4c4c4 !important;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #5a5a5a;
    color: white !important;
}
